.container-fluid {
	/*border: 1px dashed black;*/
	margin-top: 100px;
}
.search-center {
	text-align: center;
}

#map-canvas {
	width: 100%;
}
.form-container {
	padding: 50px 0 100px 100px;
}

.address-input, 
.description-input,
.age-input,
.guest-input,
.time-input, 
.search-input {
	width: 50%;
}

/*.map-col {
	border: 1px solid black;
}*/
.side-bar {
	border: 1px solid black;
}
#side-bar-data {
	float: left;
	overflow: scroll;
	height: 400px;
}
.side-bar-border {
	border-bottom: 1px solid black;
	padding: 5px;
}


