/*

	PartySync logo color animation

*/
.change-colors, strong{
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: colours;
	-webkit-animation-timing-function: ease;
}

@-webkit-keyframes colours {
	  0% {color: #39f;}
	 15% {color: #8bc5d1;}
	 30% {color: #f8cb4a;}
	 45% {color: #95b850;}
	 60% {color: #944893;}
	 75% {color: #c71f00;}
	 90% {color: #bdb280;}
	100% {color: #39f;}
}

body {
	background-color: black;
}

img, span {
    border-radius: 10px;
}

.loginDiv {
    margin-top: 15px;
}

/*	

	Background Image Heading	

*/
.header-content {
	margin-top: -20px; /* added this because there was a gap between the nav and the image */
	height: 500px;
	text-align: center;
	background-image: url("https://images.unsplash.com/photo-1416453072034-c8dbfa2856b5?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1300");
	/*background-image: url("http://wallpaperlayer.com/img/2015/6/party-wallpaper-hd-3171-3372-hd-wallpapers.jpg");*/
	background-size: cover;
	background-position: center;
	padding-top: 12%;
	color: white;
}

/* Text-shadow for the headers */

.header-content, h2 {
	position: relative;
	bottom: 50px;
	font-size: 2rem;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 2),
				 0px 8px 13px rgba(0, 0, 0, 1),
				 0px 18px 23px rgba(0, 0, 0, 1);
}
.header-content, h3 {
	position: relative;
	bottom: 50px;
	font-size: 20px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 2),
				 0px 8px 13px rgba(0, 0, 0, 1),
				 0px 18px 23px rgba(0, 0, 0, 1);
}

hr {
	position: relative;
	bottom: 50px;
	width: 65%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.btn {
	padding: 10px;
	font-size: 2rem;
	color: white;
}
.btn:hover {
	color: white;
}

a.navbar-brand {
	font-size: 24px;
}


/*change the class name*/
.add-content {
	text-align: center;
	border: 1px solid black;
}

.carousel-content {
 position: absolute;
 bottom: 10%;
/* z-index: 20;*/
 color: white;
 text-shadow: 0 1px 2px rgba(0,0,0,.6);
}














